/*body{
    text-align: center;
}*/


/*Found formatting online, most likely won't use*/
body {
  background: white;
  text-align: center;
  /*background-image: url("./../light-grey-terrazzo.png")*/
}


.float{
  float: right;
}

input {
  display: block;
  margin-bottom: 15px;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #cfcfcf;
  font-size: 16px;
  outline: none;
  text-align: center;
}

pre, code {
  font-family: 'Roboto Mono', Monaco;
}

button {
  cursor: pointer;
  padding: 12px;
  background: #999;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  border-radius: 15px;

  &:hover {
    background-color: #a1a1a1;
  }

  &:active {
    background-color: #888;
  }
}

form {
  display: inline-block;
  margin-right: 50px;
  vertical-align: top;
}

.res-block {
  display: inline-block;
}

h3 {
  margin-top: 0;
}
.border{
  border: 1px solid black;
  border-radius: 25px;
  padding: 12px;
  padding-left: 150px;
  padding-right: 150px;
  /*background-image: url("Facebook Messenger.jpg");*/
  background: linear-gradient(to bottom, blue, lightblue, white);
  margin-left: 150px;
  margin-right: 150px;
}

.input {
  width: 100%;
}

.big-text {
  font-size: 24px;
}
